html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
  font-style: normal;
  font-weight: normal;
  line-height: 18.29px;
}

div {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "SovMod";
  src: url("/fonts/SovMod/SovMod.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("/fonts/Montserrat/Montserrat Light"), local("Montserrat-Light"),
    url("/fonts/Montserrat/Montserrat-Light.woff2") format("woff2"),
    url("/fonts/Montserrat/Montserrat-Light.woff2Montserrat-Light.woff")
      format("woff"),
    url("/fonts/Montserrat/Montserrat-Light.woff2Montserrat-Light.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("/fonts/Montserrat/Montserrat Regular"),
    local("Montserrat-Regular"),
    url("/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
    url("/fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
    url("/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("/fonts/Montserrat/Montserrat Bold"), local("Montserrat-Bold"),
    url("/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("/fonts/Montserrat/Montserrat-Bold.woff") format("woff"),
    url("/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("/fonts/Montserrat/Montserrat Black"), local("Montserrat-Black"),
    url("/fonts/Montserrat/Montserrat-Black.woff2") format("woff2"),
    url("/fonts/Montserrat/Montserrat-Black.woff") format("woff"),
    url("/fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

header {
  min-width: 100%;
  background: rgba(128, 128, 129, 0.1);
  min-height: 126px;
  padding: 28px 150px;
}

.logo-thumbnail {
  cursor: pointer;
}

.logo-thumbnail img {
  width: 100px;
  /* height: 70px; */
}

.header {
  display: flex;
}

.ml-auto {
  margin-left: auto;
}
.service-box {
  cursor: pointer;
}
.overlay-gray {
  padding-left: 90px;
  padding-right: 90px;
}
.service-box:hover .overlay-gray {
  transition: 1.1s ease;
}

.navbar-container {
  display: flex;
  margin-left: 15%;
  margin-right: 10%;
  color: #fff;
  align-items: center;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 1px;
}
@media (max-width: 1440px) {
  .navbar-container {
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 1px;
    width: 55%;
  }
  .project-banner-container {
    padding-top: 150px;
  }
  .contacts-section .linear-main {
    /*width: 89% !important;*/
  }
  .modal-callback .callback-button {
    width: 30%;
  }
  .modal-callback {
    z-index: 100000000 !important;
  }
  .inline-container-apps {
    width: 23.875rem !important;
    left: 0px !important;
  }
  .inline-container {
    width: 330px !important;
  }
  .sites-container {
    padding-left: 50px;
  }
  .image-sites {
    width: 100% !important;
  }
  .service-title {
    font-size: 18px !important;
    margin-left: 80px;
  }
  .header .callback-button {
    /* width: 20%; */
  }
  .insert-number-container {
    width: 25%;
    font-size: 10px !important;
  }
  .contacts-section {
    padding-bottom: 0px !important;
  }
  /* .logo-thumbnail img {
    height: 59px;
  } */
}
.swiper-container {
  z-index: 0 !important;
}
.navbar {
  display: flex;
  align-items: center;
}

.navbar li {
  list-style: none;
  margin: 0px 10px;
}
.navbar li a {
  transition: 0.25s ease-in all;
}
.navbar li a:hover {
  opacity: 0.7;
}

.main-header-component {
  background: #292c35;
}

.main-theme-button {
  align-self: center;
  background: #e1b610;
  border: none;
  border-radius: 5px;
  color: #292c35;
  letter-spacing: 1px;
}

.callback-button {
  margin-right: 5%;
  width: 12%;
  max-height: 40px;
  padding: 10px 12px;
}

.insert-number-container {
  height: 100%;
  display: flex;
  justify-self: end;
  align-self: center;
  color: #fff;
}

.insert-number-container i {
  font-size: 20px;
  margin-right: 12px;
}

.insert-number-container .insert-number-field {
  background-color: transparent;
  border: none;
  color: #fff;
  font-style: normal;
  margin-top: 5px;
  font-weight: 500;
  font-size: 14px;
  align-self: center;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 1px;
}

.insert-number-container input::placeholder {
  background-color: transparent;
  border: none;
  color: #fff;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  align-self: center;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 2px;
}

.banner-container {
  padding: 61px 150px 0px 150px;
}

.header {
  transition: 0.5s ease;
}
.header.sticky {
  transition: 0.5s ease;
}
.background-banner-container {
  background-image: url("/banners/banner-main.webp");
  padding: 0% 30px 12.5% 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  align-items: center;
}
.programming-text {
  min-height: 400px;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.4);
}

.banner-main-text {
  font-family: "SovMod";
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 60px;
  text-transform: uppercase;
}

.banner-subtitle {
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-top: 20px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

.positioned-text {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -4.2%;
  color: rgba(225, 182, 16, 0.08);
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 150px;
  line-height: 150px;
  text-transform: uppercase;
}

.positioned-text span {
  color: transparent;
  -webkit-text-stroke-color: rgba(225, 182, 16, 0.08);
  -webkit-text-stroke-width: 1.5px;
}

.positioned-social-icons {
  justify-self: end;
  position: relative;
  /*margin-top: -21.5%;*/
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.social-icons {
  display: flex;
  flex-direction: column;
}

.social-icons i {
  color: #e1b610;
  margin: 8px 0px;
  font-size: 25px;
}

.line-up,
.line-down {
  height: 160px;
  width: 2px;
  align-self: center;
  margin-bottom: 15px;
  margin-top: 0px;
  margin-right: 2px;
  background: linear-gradient(to top, #e1b610, rgba(0, 0, 0, 0));
}
.d-flex .callback-button {
  width: auto;
}

.line-down {
  margin-top: 15px;
  margin-bottom: 0px;
  background: linear-gradient(to bottom, #e1b610, rgba(0, 0, 0, 0));
}

.advantages-container {
  padding: 140px 150px;
}

.positioned-main-title {
  position: absolute;
  left: 0;
  margin-top: -60px;
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 100px;
  /* identical to box height */

  text-transform: uppercase;

  color: rgba(128, 128, 129, 0.08);
}

.title-advantages {
  margin-top: 25px;
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height */
  z-index: 1;
  position: absolute;

  color: #292c35;
}

.title-advantages span {
  color: transparent;
  -webkit-text-stroke-color: rgba(41, 44, 53, 0.4);
  -webkit-text-stroke-width: 1.5px;
}

.ellipse-background {
  z-index: 0;
  position: absolute;
  background-color: rgba(225, 182, 16, 1);
  border-radius: 100%;
  width: 120px;
  height: 120px;
  margin-top: -15px;
  margin-left: -1.5%;
}

.linear {
  width: 150px;
  background-color: rgba(225, 182, 16, 1);
  height: 2px;
  position: absolute;
  left: 0;
  margin-top: 2.5%;
}

.centralized-advantages {
  padding-top: 150px;
  padding-right: 10%;
  padding-left: 10%;
}

.advantage_container {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  align-items: center;

  color: #292c35;
  cursor: pointer;
  transition: opacity 0.5s linear;
  justify-content: space-between;
  margin-bottom: 50px;
}

.advantage_container:hover {
  font-weight: bold;
  transition: opacity 0.5s linear;
}

.advantage_container:hover .advantage_linear {
  width: 20%;
  height: 2px;
  background-color: rgba(225, 182, 16, 1);
}

.advantage_container .advantage_name {
}

.advantage_description {
  width: 60%;
}

.projects-container {
  background: url("/projects-back.webp"), center;
  background-size: cover;
}

.projects-overlay {
  width: 100%;
  height: 100%;
  padding: 80px 150px;
  background: rgba(41, 44, 53, 0.9);
}

.projects-title-back-word {
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 100px;
  /* identical to box height */

  text-transform: uppercase;
  position: absolute;
  color: rgba(128, 128, 129, 0.08);
}

.projects-title {
  padding-top: 5%;
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height */

  color: #e1b610;
  text-transform: uppercase;
}

.projects-title span {
  color: transparent;
  -webkit-text-stroke-color: rgba(225, 182, 16, 0.1);
  -webkit-text-stroke-width: 1.5px;
}

.projects-categories {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}

.project-category-box {
  cursor: pointer;
  padding: 62px 19px;
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(225, 182, 16, 0.2);
  box-shadow: 3px 3px 20px 3px rgba(255, 255, 255, 0.05);
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #e1b610;
  text-align: center;
  background-color: rgba(41, 44, 53, 1);
}

.about-container {
  padding: 80px 150px;
}
.project-category-box img {
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
}

.about-title-back-word {
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 100px;
  /* identical to box height */

  text-transform: uppercase;

  color: rgba(128, 128, 129, 0.08);
  position: absolute;
  margin-left: 15%;
  margin-right: auto;
  left: 0;
  right: 0;
}

.about-title {
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height */

  color: #292c35;
  text-transform: uppercase;
  z-index: 1;
  position: absolute;
  margin-top: 10px;
}

.about-container .ellipse-background {
  width: 88px;
  height: 88px;
}

.about-container .linear {
  margin-top: 1.5%;
}

.about-front-word {
  padding-top: 75px;
}

.about-text-main {
  padding-top: 100px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;

  color: #292c35;
}

.d-flex {
  display: flex;
}

.about-text {
  max-width: 50%;
}

.about-image {
  min-width: 50%;
  padding-top: 5%;

  padding-bottom: 80px;
}

/* .about-image img {
  height: 370px;
  object-fit: cover;
  width: 50%;
  position: absolute;
  right: 0;
} */

.partners-container {
  margin-top: 85px;
  background: rgba(41, 44, 53, 0.9);
  padding: 85px 150px;
}

.positioned-title-back-word {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-family: SovMod;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 100px;
  /* identical to box height */

  text-transform: uppercase;

  color: rgba(128, 128, 129, 0.08);
}

.partners-title {
  padding-top: 5.5%;
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height */

  color: #e1b610;
}

.partners-slider {
  padding: 118px 0px;
}

.slider-main {
  display: flex;
}

.swiper-slide {
  display: flex;
}

.contacts-section {
  padding: 85px 150px;
  background: rgba(41, 44, 53, 0.9);
}

.callback-title-back-word {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* identical to box height */

  text-transform: uppercase;

  color: rgba(128, 128, 129, 0.08);
}

.contacts-title {
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height */

  color: #e1b610;
  position: relative;
  top: 55px;
}

.contacts-section .ellipse-background {
  margin-top: 1%;
  background-color: #fff;
}

.contacts-section .linear-main {
  background-color: #fff;
  /*width: 91%;*/
  margin-top: 100px;
  height: 1px;
  position: absolute;
}

.contacts-section .d-flex {
  padding-top: 50px;
  padding-bottom: 40px;
}

.d-flex .img-contacts {
  width: 50%;
}

.img-contacts img {
  height: 344px;
  object-fit: cover;
  margin-top: 84px;
  position: absolute;
  left: 0;
  width: 50%;
}

.text-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 117px;
  padding-top: 84px;
  padding-bottom: 50px;
  width: 50%;
}

.text-contacts .form-control {
  width: 100%;
  margin-bottom: 30px;
}

.text-contacts .form-control input,
.text-contacts .form-control textarea {
  width: 100%;
  background-color: transparent;
  border-radius: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 15px;
  /* identical to box height */

  color: rgba(225, 182, 16, 0.4);
  padding: 23px;
  border: 2px solid #e1b610;
}

.text-contacts .form-control input::placeholder,
.text-contacts .form-control textarea::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: rgba(225, 182, 16, 0.4);
}

.text-contacts .callback-button {
  background: #e1b610;
  border-radius: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;

  color: #3e4149;
  border: none;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding: 40px 150px;
  background: url("/footer-back.webp");
}
.projects-title-back-word {
  font-family: SovMod;
}

.footer-container .logo {
  justify-self: center;
  align-self: center;
  margin: 40px 0;
  width: 100px;
}

.footer-container hr {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.icon-text {
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  margin-bottom: 23px;
}
.contacts-block div {
  transition: 0.25s ease-out all;
}
.contacts-block a:hover,
.contacts-block div:hover {
  color: #fff;
}

.icon-text i {
  margin-right: 30px;
}

.footer-container .d-flex {
  margin-top: 45px;
}

.links-block {
  margin-left: 100px;
}

.links-block div {
  margin-bottom: 20px;
}

.links-block div a {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.25s linear all;
}
.links-block div a:hover {
  color: #fff;
}
.rights-block div a {
  transition: 0.25s linear all;
}
.rights-block div a:hover {
  color: #fff;
}

.rights-block {
  margin-left: 100px;
  padding-top: 82px;
}

.rights-block div {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 2px;

  color: rgba(255, 255, 255, 0.3);
}

.social-links-block {
  margin-left: auto;
  display: flex;
  margin-top: auto;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.7);
}

.social-links-block div {
  padding: 0px 10px;
}
.social-links-block div a {
  transition: 0.25s ease-in all;
}
.social-links-block div a:hover {
  color: #fff;
}
.slider-image {
  padding: 50px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-image img {
  max-width: 173px;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  color: #ffffff;
}
.mySwiper {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.box-main {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-container {
  margin-top: auto;
}
.project-main-flex svg {
  color: #ccc !important;
  margin: 0px 5px;
}
.project-banner-container {
  background: url("/banners/project-banner.png") bottom;
  padding-top: 60px;
  background-size: cover;
  padding-bottom: 400px;
  align-items: start;
}
.category-title {
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;

  color: #e1b610;
  max-width: 55%;
}
.category-box {
  margin-bottom: 80px;
}
.fast-solution-container {
  padding-left: 150px;
  padding-right: 150px;
  margin-top: -430px;
}
.project-banner-container .positioned-text-project {
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 100px;
  /* identical to box height */

  text-transform: uppercase;

  color: rgba(128, 128, 129, 0.08);
}
.title-project {
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  margin-top: -45px;
  /* identical to box height */

  color: #e1b610;
}
.title-project span {
  color: transparent;
  -webkit-text-stroke-color: rgba(225, 182, 16, 0.1);
  -webkit-text-stroke-width: 1.5px;
}
.category-service-box {
  padding-left: 20px;
  padding-top: 20px;
  border: 1px solid #e1b610;
  border-radius: 32px;
}
.category-service-image {
  width: 146px;
  height: 146px;
  background-size: cover;
  background-position: center;
  background-color: #3e4149;
}
.service-foreground-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #faeded;
  border-radius: 32px;
  padding: 20px 50px;
  margin-bottom: -20px;
  margin-right: -20px;
}
.category-service-title,
.category-service-price {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  line-height: 24px;
  margin-top: 20px;
  color: #292c35;
}

.main-category-service-box {
  padding-bottom: 20px;
  cursor: pointer;
}
.category-service-price {
  margin-top: 10px;
}
.project-banner-container {
  flex-direction: column;
}
.project-container-main {
  padding: 80px 150px;
}
.project-slider .project-title {
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 60px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}

.project-slider {
  margin-top: -300px;
}
.project-slider-info {
  display: flex;
  padding-top: 100px;
  flex-direction: column;
}
.project-slider-info .project-slider-settings {
  justify-self: end;
  font-style: normal;
  align-self: end;
  font-weight: 500;
  margin-left: auto;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #a0a0a3;
}
.project-slider {
  display: flex;
  justify-content: space-between;
}

.project-images {
  width: 670px;
  height: 350px;
  background: #c4c4c4;
  box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.08);
  background-size: cover;
}
.idea-container {
  width: 45%;
  margin-top: -100px;
}
.other-containers {
  display: flex;
  justify-content: space-between;
}
.other-containers > div {
  width: 45%;
}
.main-title {
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */

  text-transform: uppercase;

  color: #292c35;
}
.idea-container {
  margin-bottom: 80px;
}
.main-title {
  margin-bottom: 10px;
}
.main-description {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;

  color: #292c35;
}
.service-banner-container {
  background: url("/banners/service-banner.png"), bottom;
  background-size: cover;
}
.services-box {
  border: 2px dashed #e1b610;
}
.services-main-boxes {
  display: flex;
  justify-content: space-between;
}
.main-services-container {
  padding: 30px 24px 80px 24px;
  background-color: rgba(41, 44, 53, 0.9);
}
.sites-container {
  margin-top: -45px !important;
}
.services-box {
  margin-top: 30px;
  padding: 30px;
  height: 300px;
}
.sites-container {
  padding-left: 130px !important;
}
.apps-container {
  margin-top: 0px !important;
}
.title-services {
  width: 100%;
}
.title-services {
  font-family: SovMod;
  background-color: rgba(41, 44, 53, 0.9);
  padding-bottom: 75px;
  padding-left: 150px;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  color: #e1b610;
}
.programs-container {
  margin-top: 50px !important;
}
.services-box i {
  margin-right: 28px;
}
.services-box .services-description {
  width: 330px;
}
.services-box {
  color: #292c35;
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: #292c35;
}
.title-fast {
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 25px;
  /* identical to box height */

  text-transform: uppercase;
  text-align: center;
  color: #292c35;
}

.social-icons svg {
  width: 20px !important;
  height: 20px !important;
  margin-top: 10px;
  color: #e1b610;
}
.contacts-block svg {
  margin-top: 5px !important;
  margin-right: 20px !important;
}
.sites-container {
  margin-top: -300px;
  text-align: center;
  width: 33%;
}

.title-sites {
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}
.sites-container {
  padding-left: 150px;
}
.main-services-container {
  display: flex;
}
.inline-container {
  border-top: 1px #e1b610 solid;
  border-right: 1px #e1b610 solid;
  height: 20px;
  position: relative;
  left: -45%;
  width: 435px;
}
.service-title {
  text-align: right;
  margin-bottom: 15px;
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}

.image-sites {
  background: url("/services/apps.webp"), center;
  background-size: cover;
  width: 370px;
  height: 439px;
}
.overlay-gray {
  width: 100%;
  height: 100%;
  background: rgba(41, 44, 53, 0.9);
}

.apps-container {
  margin-top: -200px;
}
.inline-container-apps {
  border-top: 1px #e1b610 solid;
  border-right: 1px #e1b610 solid;
  height: 20px;
  position: relative;
  width: 450px;
  left: -40px;
}
.image-apps {
  width: 367px;
  margin-left: 60px;
  height: 439px;
  background: url("/services/apps-2.webp");
  background-size: cover;
}
.programs-container {
  margin-top: -150px;
  text-align: center;
}
.programs-container > .inline-container-programs {
  border-top: 1px solid #e1b610;
  border-right: 1px solid #e1b610;
  height: 25px;
  position: relative;
  left: -20px;
}
.image-programs {
  width: 367px;
  height: 439px;
  margin-left: 60px;
  background: url("/services/programs.webp");
  position: relative;
  top: 0px;
}
.container-services {
  display: flex;
  background-color: rgba(41, 44, 53, 0.9);
}

.container-services .inline-service {
  width: 100%;
  height: 25px;
  border-top: 1px solid #e1b610;
  border-right: 1px solid #e1b610;
}
.service-box {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.container-services .title-service {
  margin-bottom: 15px;
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */
  text-transform: uppercase;
  width: auto;
  margin-left: auto;
  color: #ffffff;
}
.container-services .service-box:nth-child(2) {
  margin-top: 50px;
}

.container-services .service-box:nth-child(3) {
  margin-top: 100px;
}
.service-box .image-service-layout {
  justify-self: end;
  box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.1);

  margin-left: auto;
  align-self: end;
  background-image: url("/services/apps-2.webp");
  background-size: cover;
  background-position: center;
  width: 80%;
  height: 500px;
  margin-right: -20px;
  z-index: 1;
}
.service-box:nth-child(2) .image-service-layout {
  background-image: url("/services/apps.webp");
}

.service-box:nth-child(3) .image-service-layout {
  background-image: url("/services/programs.webp");
}

.linear-main {
  max-width: 100%;
  min-width: 88.7%;
}

.centralized {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}
.project-main-flex {
  display: flex;
  justify-content: end;
  align-items: center;
}
.project-main-flex i {
  margin: 0px 8px;
  color: #a0a0a3;
  cursor: pointer;
}
input:focus,
textarea:focus {
  border: none;
  outline: none !important;
}
input:active {
  border: none;
  outline: none !important;
}
.form-control input {
  font-size: 24px;
}
button {
  cursor: pointer;
  transition: 1s ease;
}
img {
  transition: 1s ease;
}
img:hover {
}
button:hover {
  transform: scale(1.2);
}
.modal-open {
  top: 50%;
  left: 50%;
}
.open-dialog {
  width: 400px;
  height: 400px;
}
.modal-request {
  background: rgba(255, 255, 255, 0.2);
}
.form-control input,
.form-control textarea {
  width: 100%;
  margin-top: 20px;
  background-color: transparent;
  border-radius: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 15px;
  color: #fff;
  border: 2px solid #e1b610;
  padding: 15px;
}
.modal-main .callback-button {
  background: #e1b610;
  width: 20%;
  margin-top: 20px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header .menu-bar {
  display: none;
}
.modal-main {
  padding: 20px;
  color: #fff;
}
.modal_container {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
}
.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
.modal-header i {
  cursor: pointer;
}
.modal-callback {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-left: 50%;
  transform: translate(-50%, 50%);
  background: #292c35;
  border: none;
  width: 50%;
  border-radius: 25px;
}
.overlay-gray {
  color: transparent;
}
.service-box:hover .overlay-gray {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 90px;
  padding-right: 90px;
}
.header .navbar li a {
  word-break: keep-all;
}
.insert-number-container svg {
  margin-top: 2.5px;
  margin-right: 5px;
  width: 1.2rem !important;
  height: 1.2rem;
}
.fast-solution-box {
  border: 2px dashed #e1b610;
  padding: 40px;
  display: flex;
  align-items: center;
  border-radius: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.actual-price {
  padding: 20px;
  background-color: #292c35;
  border-radius: 32px;
  max-width: 500px;
  position: absolute;
  left: 66%;
  color: #fff;
}
.actual-price-title {
  margin-bottom: 20px;
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
}
.post-title {
  font-size: 15px;
  line-height: 18px;

  color: #ffffff;
}
.check-point {
  position: absolute;
  background: #e1b610;
  padding: 10px;
  border-radius: 32px;
  font-size: 20px;
  margin-top: -40px;
  margin-left: -40px;
  border: 3px solid #fff;
}
.fast-solution-number {
  font-size: 80px;
  line-height: 80px;
  font-family: SovMod;
  color: #fff;
  background-color: #000;
  position: absolute;
  margin-left: -100px;
  margin-top: -90px;
  padding: 14px 48px 8px 34px;
  border-radius: 100%;
}
.fast-solution-title {
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */

  text-transform: uppercase;
  margin-bottom: 20px;
}
.fast-solution-description {
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
  color: #292c35;
}
.fact-price {
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */
  text-transform: uppercase;
  margin-bottom: 10px;
}
.fact-price-container {
  max-width: 70%;
}
.function-price {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: #292c35;
}
.fast-services-container {
  padding-left: 150px;
  padding-right: 150px;
}
.service-new-container {
  background: linear-gradient(180deg, #292c35 7.64%, rgba(41, 44, 53, 0) 100%),
    url("/banners/main-service.jpg");
  background-position: center;
  background-size: cover;
}
.service-new-container .title-text {
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  /* identical to box height */

  margin-top: -40px;
  margin-bottom: 30px;
  color: #e1b610;
  text-transform: uppercase;
}
.site-start-information {
  width: 100%;
  display: flex;
}
.images-slider {
  width: 70%;
}
.slider-thumbnail {
  width: 100%;
  height: 350px;
  background-color: #cccccc;
}
.site-information-short {
  padding-left: 30px;
}
.site-information-short .price {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
  margin-bottom: 20px;
}
.short-info {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 20px;
  color: #ffffff;
}
.demo {
  border: 1px solid #e1b610;
  border-radius: 32px;
  background-color: transparent;
  padding: 13px 54px;
  color: rgba(225, 182, 16, 1);
  font-size: 15px;
  line-height: 18px;

  color: #e1b610;
}
.order-now {
  background: #e1b610;
  border-radius: 32px;
  border: none;
  width: 203px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  color: #292c35;
}
.service-new-container {
  padding-bottom: 100px;
}
.properties-container {
  padding: 80px 150px;
}
.properties-titles {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.images-slider {
  display: flex;
  flex-direction: column;
}
.slider-controls {
  display: flex;
  margin-left: auto;
  margin-top: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  align-self: end;
  justify-self: end;

  color: #a0a0a3;
}
.controls {
  cursor: pointer;
}
.slider-controls .controls {
  margin-left: 20px;
  width: 50px;
  display: flex;
  justify-content: space-between;
}
.property-title {
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 25px;
  /* identical to box height */

  text-transform: uppercase;
  opacity: 0.5;
  color: #292c35;
  cursor: pointer;
}
.property-title.active {
  opacity: 1;
}
.contacts-banner {
  padding-bottom: 450px;
}
.contacts-main-container {
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: space-between;
}
.contact-block {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.contacts-main-container {
  width: 100%;
}
.contacts-info {
  width: 45%;
}
.icon-dotted-border {
  border: 1px dashed #e1b610;
  padding: 23px;
  width: 173px;
  height: 173px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.contacts-main-container {
  margin-top: -500px;
}
.icon-container {
  width: 127px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 127px;
  border: 1px dashed #ffffff;
  border-radius: 100%;
}
.icon-dotted-border svg {
  font-size: 60px;
  color: #fff;
}
.about-team-container {
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-top: -250px;
  margin-bottom: 80px;
}
.about-team-image {
  background-position: center !important;
  background-size: cover !important;
}
.project-category-container {
  display: flex;
  justify-content: space-evenly;
}
.project-show-container {
  padding-left: 150px;
  padding-right: 150px;
}
.project-bordered-container {
  box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  border: 50px solid #fff;
  margin-top: 80px;
  background: #fffefe;
}
.project-main-container {
  cursor: pointer;
  height: 500px !important;
  width: 100%;
  background-size: cover;
  background-position: center;
  border: none;
  box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-images.mobile {
  height: 700px;
  width: 400px;
}
.project-main-container img {
  width: 300px;
}
.project-category {
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 25px;
  /* identical to box height */

  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s ease;
}
.project-category.active {
  opacity: 1;
}
.projects-index-container {
  padding-left: 150px;
  padding-right: 150px;
  margin-top: -350px;
  margin-bottom: 100px;
}
.about-team-slider-container {
  border: 1px dashed #e1b610;
  box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  padding: 30px 75px;
}
.callback-section-main {
  padding: 80px 150px;
  display: flex;
  flex-wrap: wrap;
}
.callback {
  width: 100%;
  display: flex;
  justify-content: center;
}
.callback-button-new {
  background: #e1b610;
  border-radius: 32px;
  padding: 15px;
  border: none;
}
.forms-container {
  width: 50%;
}
.forms-container:nth-child(2) {
  padding-left: 20px;
}
.form-control-new input {
  border: 2px solid #292c35;
  border-radius: 32px;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
}
.forms-container textarea {
  border-radius: 32px;
  border: 2px solid #292c35;
  width: 100%;
  padding: 15px;
}
.about-team-description {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  /* Темный */

  color: #292c35;
  margin-top: 20px;
}
.positioned-number {
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 100px;
  /* identical to box height */

  text-transform: uppercase;

  /* Темный */

  color: #292c35;
  background: #fff;
  width: 92px;
  height: 92px;
  padding-top: 10px;
  box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.08);
  display: flex;
  position: absolute;
  margin-top: -40px;
  margin-left: -40px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.about-team-controls {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  margin-right: 86px;

  color: #a0a0a3;
}
.about-team-controls .controls {
  display: flex;
  width: 40px;
  justify-content: space-between;
}
.about-team-image {
  background: #c4c4c4;
  border-radius: 32px;
  width: 315px;
  height: 315px;
}

.contact-block {
  margin-top: 65px;
  display: flex;
  align-items: center;
}
.description-banner {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
  max-width: 60%;
}
.map-container {
  width: 65%;
  height: 550px !important;
  box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.08);
  margin-left: 20px;
  margin-right: 20px;
}
.map-container div {
}
.ymaps-2-1-79-map {
  width: 100% !important;
  height: 100% !important;
}
.contact-info {
  margin-left: 30px;
  font-family: SovMod;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 25px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;
}
.contact-block:nth-child(3) .contact-info {
  color: #292c35;
}
.contact-block:nth-child(3) .icon-container {
  border: 1px dashed #292c35;
}
.contact-block:nth-child(3) .icon-container svg {
  color: #292c35 !important;
}
/*mobile*/
@media (max-width: 720px) {
  .project-main-container img {
    width: 150px;
  }
  .btn-callback {
    width: 100%;
  }
  .project-images.mobile {
    width: 100%;
  }
  .callback-section-main {
    padding-left: 24px;
    padding-right: 24px;
  }
  .forms-container {
    width: 100%;
  }
  .forms-container:nth-child(2) {
    padding-left: 0px;
    margin-bottom: 20px;
  }
  .contacts-main-container {
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
  }
  .description-banner {
    max-width: 100%;
  }
  .about-team-container {
    margin-top: 50px;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;
  }
  .about-team-controls {
    justify-content: center;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .projects-index-container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .project-show-container {
    padding-left: 0;
    padding-right: 0;
  }
  .banner-container {
    padding-bottom: 0px !important;
  }
  .slider-controls {
    margin-right: auto;
    margin-bottom: 20px;
  }
  .properties-titles {
    flex-direction: column;
  }
  .property-title {
    margin-bottom: 20px;
  }
  .properties-container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .images-slider {
    width: 100%;
  }
  .service-new-container {
    padding-right: 0 !important;
  }
  .project-main-container {
    width: 100%;
    height: 250px !important;
  }
  .slider-image img {
    max-width: 90%;
  }
  .mySwiper {
    margin-top: 0;
  }
  .site-start-information {
    flex-direction: column;
  }
  .project-category {
    margin-top: 20px;
  }
  .project-category-container {
    flex-direction: column;
  }
  .about-team-slider-container {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 24px;
  }
  .about-team-image {
    width: 150px;
    height: 150px;
  }
  .positioned-number {
    font-size: 24px;
    width: 50px;
    height: 50px;
    margin-left: -10px;
    margin-top: -10px;
  }
  .contacts-info {
    width: 100%;
  }
  .icon-container {
    width: 80px;
    height: 80px;
  }
  .icon-dotted-border {
    width: 130px;
    height: 130px;
  }
  .icon-dotted-border svg {
    font-size: 25px;
  }
  .contact-info {
    margin-left: 15px;
  }
  .contact-block:nth-child(3) .icon-container {
    border: 1px dashed #fff;
  }
  .contact-block:nth-child(3) .icon-container svg {
    color: #fff !important;
  }
  .contact-block:nth-child(3) .contact-info {
    color: #fff;
  }
  .map-container {
    width: 100%;
    margin-top: 50px !important;
    height: 200px !important;
    margin-left: 0px;
    margin-bottom: 50px !important;
  }
  .contacts-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .links-block {
    text-align: center;
  }
  .rights-block {
    text-align: center;
  }
  .social-links-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-block {
    margin-top: 20px;
  }
  .contact-info {
    font-size: 10px;
    line-height: 10px;
  }
  .contacts-main-container {
    margin-top: -450px;
  }
  .contact-block {
    width: 100%;
    word-break: break-word;
  }
  .fast-solution-container {
    padding-left: 24px;
    padding-right: 24px;
    /*margin-top: -560px;*/
  }
  .project-container-main .project-slider {
    margin-top: -500px;
  }
  .projects-overlay .mySwiper {
    margin-top: 40px;
  }
  .fast-services-container {
    padding-right: 24px;
    padding-left: 24px;
  }
  .fast-solution-box {
    flex-direction: column;
  }
  .fast-solution-number {
    font-size: 40px;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 30px;
    margin-top: -50px;
    margin-left: -60px;
  }

  .fact-price-container {
    max-width: 80%;
  }
  .actual-price {
    position: relative;
    margin-top: 20px;
    left: 0px;
  }
  .category-title {
    max-width: 100%;
    font-size: 25px;
    line-height: 25px;
  }
  .programming-text {
    font-size: 13px;
    line-height: 13px;
  }
  .fast-solution-box {
    padding-left: 10px;
    padding-right: 10px;
  }
  .service-box:hover .overlay-gray {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .overlay-gray {
    padding-left: 20px;
    padding-right: 20px;
  }
  .modal-callback {
    width: 90%;
  }
  body {
    overflow-x: hidden;
  }
  .navbar-container {
    position: absolute;
    height: 100vh;
    display: flex;
    align-items: start;
    flex-direction: column;
    background: #292c35;
    left: -400px;
    top: 0;
    margin-left: 0;
    z-index: 10;
    padding-left: 20px;
    margin-top: 99px;
    transition: 0.5s ease;
  }
  .navbar-container.active {
    left: 0;
  }
  .navbar-container .navbar li {
    text-align: left;
    width: 100%;
    font-size: 18px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .navbar-container .navbar {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .banner-container {
    padding: 74px 24px 180px 24px;
  }
  .banner-main-text {
    font-size: 23px;
    line-height: 23px;
  }
  .background-banner-container {
    padding-top: 0px;
    padding-right: 25px;
  }
  .programming-text {
    max-width: 100%;
    padding-bottom: 20px;
    word-break: break-word;
  }
  .positioned-social-icons svg {
    width: 20px !important;
    height: 20px !important;
  }
  .positioned-social-icons {
    position: absolute;
    margin-left: auto;
    right: 10px;
  }
  .positioned-text {
    font-size: 50px;
  }
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }
  .header .logo-thumbnail {
    justify-self: center;
  }
  .insert-number-container {
    display: none;
  }
  .callback-button {
    width: auto;
  }
  .positioned-main-title {
    font-size: 30px;
  }
  .advantages-container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .title-advantages {
    font-size: 23px;
    margin-top: -10px;
  }
  .linear {
    width: 20px;
  }
  .title-advantages span {
    display: none;
  }
  .ellipse-background {
    width: 50px;
    height: 50px;
  }
  .advantage_name {
    font-size: 15px;
    width: 120px;
    word-break: break-all;
  }
  .advantage_description {
    font-size: 12px;
  }
  .advantage_container {
    align-items: start;
  }
  .advantage_linear:hover {
    margin-top: 10px;
    width: 10px;
  }
  .centralized-advantages {
    padding-left: 0px;
    padding-right: 0px;
  }
  .advantage_linear {
    margin-top: 10px;
  }
  .projects-overlay {
    padding: 80px 24px;
  }
  .projects-title-back-word {
    font-size: 45px;
  }
  .projects-title {
    font-size: 23px;
    position: relative;
    top: 30px;
  }
  .about-container {
    padding: 80px 24px;
    margin-bottom: 150px;
  }
  .about-title-back-word {
    font-size: 37px;
    margin-left: 25px;
  }
  .d-flex {
    flex-direction: column;
  }
  .about-title {
    font-size: 23px;
  }
  .about-front-word .linear {
    width: 25px;
    margin-top: 25px;
  }
  .about-text-main {
    font-size: 12px;
    line-height: 15px;
    width: 100%;
  }
  .about-text {
    max-width: 100%;
  }
  .about-image {
    margin-top: 40px;
    height: 200px;
  }
  .about-image img {
    width: 100%;
    position: initial;
    height: initial;
  }
  .partners-container {
    padding: 80px 24px;
  }
  .positioned-title-back-word {
    font-size: 45px;
    text-align: left;
    line-height: 45px;
  }
  .partners-title {
    margin-top: 50px;
  }
  .contacts-section {
    padding: 80px 24px;
  }
  .img-contacts {
    display: none;
  }
  .callback-title-back-word {
    font-size: 45px;
    line-height: 45px;
  }
  .contacts-section .ellipse-background {
    margin-top: 70px;
  }
  .contacts-title {
    font-size: 23px;
    line-height: 23px;
    margin-top: 20px;
  }
  .text-contacts {
    padding-left: 0px;
    width: 100%;
  }
  .text-contacts .form-control input {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }
  .footer-container {
    padding: 80px 24px;
    background-size: cover;
  }
  .links-block {
    margin-left: 0px;
  }
  .rights-block {
    margin-left: 0px;
    padding-top: 10px;
  }
  .social-links-block {
    margin-left: 0px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .menu-bar {
    background: #e1b610;
    padding: 10px 15px;
    border-radius: 5px;
  }
  .header .callback-button {
    margin-right: 0px;
    font-size: 8px;
    padding: 10px 13px;
    border-radius: 5px;
  }
  .header .logo-thumbnail {
    margin-left: 50px;
  }
  .header .logo-thumbnail img {
    width: 70px;
    height: 50px;
  }
  .modal-main .callback-button {
    width: 100%;
  }
  .header .menu-bar {
    display: block;
    cursor: pointer;
  }
  .project-banner-container .positioned-text-project {
    font-size: 40px;
    line-height: 40px;
  }
  .title-project {
    font-size: 23px;
    line-height: 23px;
    margin-top: 0px;
  }
  .project-container-main {
    padding: 80px 24px;
  }
  .project-slider .project-title {
    font-size: 40px;
    line-height: 40px;
    /* identical to box height */
  }
  .project-slider {
    display: flex;
    flex-direction: column;
    margin-top: -700px;
    margin-bottom: 250px;
  }
  .project-images {
    width: 100%;
    height: 500px;
    margin-top: 50px;
  }
  .idea-container {
    width: 100%;
  }
  .other-containers {
    display: flex;
    flex-direction: column;
  }
  .other-containers > div {
    width: 100%;
    margin-bottom: 40px;
  }
  .header {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 100px;
  }
  .main-services-container {
    flex-direction: column;
  }
  .sites-container {
    width: 100%;
    padding-left: 0px !important;
  }
  .apps-container {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .image-apps {
    margin-left: 0px;
  }
  .inline-container-apps {
    width: 100%;
  }
  .service-title {
    margin-top: 40px;
    font-size: 16px;
  }
  .image-programs {
    margin-left: 0px;
    width: 100%;
  }
  .image-apps {
    width: 100%;
  }
  .image-sites {
    width: 100%;
  }
  .partners-title {
    font-size: 35px;
  }
  .positioned-title-back-word {
    font-size: 40px;
  }
  .projects-title-back-word {
    font-size: 40px;
  }
  .title-services {
    padding-left: 24px;
    border: none;
    padding-top: 20px;
  }
  .container-services {
    padding-top: 20px;
    flex-direction: column;
    padding-bottom: 40px;
    margin-bottom: -10px;
  }
  .container-services .service-box {
    width: 100%;
  }
  .container-services .title-service {
    margin-right: auto;
    font-size: 16px;
  }
  .service-box .image-service-layout {
    margin-right: auto;
  }
  .container-services .inline-service {
    width: 80%;
  }
}

.header.sticky {
  position: fixed;
  background: #292c35;
  z-index: 1000;
}
.menu-bar-overlay {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  height: 100vh;
  background-color: transparent;
}
.menu-bar-overlay.active {
  display: block;
}
.project-link.project-title {
  font-size: 14px;
}

@media (min-width: 1441px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .navbar-container {
    margin-right: 0px;
    margin-left: 0px;
  }
  .header .callback-button {
    width: 15%;
    margin-right: 20px;
  }
}
@media (min-width: 1452px) {
  /*.contacts-section .linear-main{*/
  /*}*/
  .image-sites {
    width: 95%;
  }
  .inline-container-apps {
    left: -20px;
    width: 430px;
  }
  /*.programs-container > .inline-container-programs{*/
  /*    left: 0px;*/
  /*}*/
  /*.image-programs{*/
  /*}*/
  .programs-container > .inline-container-programs {
    left: 0px;
  }
}
@media (max-width: 1441px) {
  .programs-container > .inline-container-programs {
    left: -20px;
    width: 100%;
  }
}
/* .advantage_name::before {
  content: "";
  width: 100%;
  height: 3px;
  background: #000;
} */

.btn {
  background: #e1b610;
  border-radius: 32px;
  padding: 15px 30px;
  border: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.btn-callback {
  margin-top: 50px;
}

/* Страница отправленной заявки */
.thanks {
  padding-top: 100px;
  padding-bottom: 60px;
}
.thanks-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.thanks-message p {
  margin-top: 25px;
  line-height: 25px;
}
.thanks-message button {
  margin-top: 25px;
  max-width: 150px;
}
